<!DOCTYPE html>
<html lang="en" ng-app="pomodoro">
<head>
  <meta charset="UTF-8">
  <title>Pomodoro Collettivo</title>
   <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="assets/bower/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/">
</head>
<body ng-controller="MainController as vmMain">
    
    <a href="" ng-click="vmMain.display('list')">List</a>
    <a href="" ng-click="vmMain.display('countdown')">Timer</a>

    <div ui-view="list" ng-show="vmMain.displayView === 'list'"></div>
    <div ui-view="countdown" ng-show="vmMain.displayView === 'countdown'"></div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/bower/Materialize/dist/js/materialize.min.js"></script>
    
    <script src="assets/bower/angular/angular.js"></script>
    <script src="assets/bower/momentjs/moment.js"></script>
    <script src="assets/bower/humanize-duration/humanize-duration.js"></script>
    <script src="assets/bower/angular-timer/dist/angular-timer.min.js"></script>
    <script src="assets/bower/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="assets/bower/ui-router-extras/release/ct-ui-router-extras.js"></script>
    <script src="app/app.js"></script>
    <script src="app/main.controller.js"></script>

    <script src="app/list/list.service.js"></script>
    <script src="app/list/list.controller.js"></script>
    <script src="app/list/list.directive.js"></script>
    <script src="app/list/task.controller.js"></script>
    <script src="app/list/task.directive.js"></script>

    <script src="app/countdown/countdown.controller.js"></script>
    <script src="app/countdownStatus.service.js"></script>

</body>
</html>
