<div ng-swipe-right="vmTask.swipeCheckTask()">
    <input  id="task_{{$id}}_1"
            ng-change="vmTask.checkTask()" 
            ng-model="vmTask.task.status" 
            type="checkbox" 
            />
    <label for="task_{{$id}}_1">{{vmTask.task.title}}</label>
    
    <span class="task-description">{{vmTask.task.description}}</span>
    <span class="task-pomodoros">: {{vmTask.task.elapsedPomodoros}}</span>
    
    <button class="btn-flat right"
            ng-click="vmList.startTiming()"
            tooltip="Start Timing" 
            tooltip-append-to-body="true" 
            >
            <i class="material-icons">query_builder</i>
    </button>
    
    <button class="btn-flat right"
            ng-click=""
            tooltip="Edit this task."        
            tooltip-append-to-body="true"  
            >
            <i class="material-icons">edit</i>
    </button>
    
    <button class="btn-flat right"
            ng-click="vmTask.deleteTask(vmTask.task._id)"
            tooltip="Remove this task"  
            tooltip-append-to-body="true" 
            >
            <i class="material-icons">remove</i>
    </button>
</div>