<div class="row" ng-class="{'card-panel': !vmTaskForm.isEditMode}">
    <form novalidate ng-submit="vmTaskForm.save(vmTaskForm.task)">
            <!-- Title Field -->
            <div  class="input-field col s12 m5"
                  ng-class="{'m5': !vmTaskForm.isEditMode, 
                            'm6': vmTaskForm.isEditMode}"
                >
                <input  id="task_title" 
                        ng-blur="vmTaskForm.titleFocused = false"
                        ng-focus="vmTaskForm.titleFocused = true"
                        ng-model="vmTaskForm.task.title"
                        type="text"
                        >
                <label for="task_title"
                        ng-class="{'active': vmTaskForm.titleFocused || vmTaskForm.task.title}"
                        >Title</label>
            </div>
            <!-- Description Field -->
            <div class="input-field col s12 m5"
                 ng-class="{'m5': !vmTaskForm.isEditMode, 
                            'm6': vmTaskForm.isEditMode}"
                >
                <input  id="task_description" 
                        ng-blur="vmTaskForm.descriptionFocused = false"
                        ng-focus="vmTaskForm.descriptionFocused = true"
                        ng-model="vmTaskForm.task.description" 
                        type="text" 
                        >
                 <label for="task_description"
                        ng-class="{'active': vmTaskForm.descriptionFocused || vmTaskForm.task.description}"
                        >Description</label>
            </div>
            <!-- Add button -->
            <div class="input-field col s12 m2">
                <button class="btn red"
                        ng-click="vmTaskForm.save()" 
                        ng-disabled="!vmTaskForm.task.title"
                        ng-if="!vmTaskForm.isEditMode"
                        type="submit" 
                        >
                    Add
                </button>
            </div>
    </form>
</div>