.progress-wrapper{
            position: relative;
            margin:20px auto;
            font-size: 40px;
        }
        .progress{
            position: absolute;
            color: #bbb;
            font-weight: 100;
            line-height: 1;
        }


/* task list styles */

#tasklist-view a {
	cursor: pointer;
		
}

#tasklist-view a i.material-icons {
	transition: all 0.5s;
}

#tasklist-view a i.material-icons:hover {
	color: red;
}
