<div class="container">
	
	<div class="row card-panel red darken-4 valign-wrapper">
		<div class="col l10 s10 valign center-align">
			<h4 class="white-text">{{vmMain.currentTask}}</h4>
		</div>
        <div
        	id="mini-progress"
        	class="col l2 s2 right-align valign"
            round-progress
            max="vmCountdown.currentTimer.duration"
            current="vmCountdown.elapsedTime"
            radius="30"
            bgcolor="#b71c1c"
            color="{{vmCountdown.currentTimer.color}}"
            stroke="4"
            >
        </div>
	</div>

	<div class="row card-panel white valign-wrapper">
		<div class="col l6 s6 center-align">
			<h6>Currently timing on: {{vmCountdown.currentTimer.name}}</h6>
		</div>
		<div class="col l6 s6 right-align">
				<img src="../../assets/svg/pomodoro.svg" alt="">
				<p class="right" style="font-size: 1.3em;"> &times; {{vmCountdown.elapsedPomodoros}}</p>
		</div>
	</div>
	
	<div class="center-align">

		<button type="button" class="btn-floating btn-large waves-effect waves red">
		 	<i 	ng-if="!vmCountdown.isTicking" 
		 		ng-click="vmCountdown.startTimer()" 
		 		class="material-icons">play_arrow</i>
		 	<i 	ng-if="vmCountdown.isTicking"  
		 		ng-click="vmCountdown.stopTimer()" 
		 		class="material-icons">stop</i>
		</button>
		
		<div class="switch">
			<span class="black-text">Ticker sound:</span>
		    <label>
		      Off
		      <input 	id="tickerSound" 
		        		type="checkbox"
		        		ng-model="vmCountdown.tickerSoundOn"
		        		ng-change="vmCountdown.toggleTickerMute()">		
		      <span class="lever"></span>
		      On
		    </label>
	  	</div>
	</div>
	
	<div class="row card-panel white valign-wrapper progress-wrapper">
		
		<div class="valign center-align progress-text">
			<!-- vmCountdown.elapsedTime {{vmCountdown.elapsedTime}} -->
			<timer  interval="1000"
           	countdown="vmCountdown.currentTimer.duration"
           	auto-start="false"
           	finish-callback="vmCountdown.ringAlarm()">{{mminutes}}:{{sseconds}}</timer>
		</div>
		<div
        	round-progress
        	max="vmCountdown.currentTimer.duration"
        	current="vmCountdown.elapsedTime"
        	responsive="true"
        	color="{{vmCountdown.currentTimer.color}}"
        	>
		</div>
	</div>
</div>

